{
  "presets": [
    ["@babel/preset-env", {
      "modules": "cjs"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs", {
      "lazy": true
    }]
  ]
}